<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arbems.saveandresetuistatus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.arbems.saveandresetuistatus.ActivityC" android:label="Almacenamiento persistente"></activity>
        <activity android:name="com.arbems.saveandresetuistatus.ActivityB" android:label="Estado de instancia"/>
        <activity android:name="com.arbems.saveandresetuistatus.ActivityA" android:label="ViewModel"/>
        <activity android:name="com.arbems.saveandresetuistatus.MainActivity" android:label="Almacenar estados de la Actividad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>